# /lib/systemd/system/zramswap.service
#
# Copyright (c) Mihail Gershkovich, <Mihail.Gershkovich@gmail.com>
# config for ressource limits: /etc/autozram/init.conf
# includes max prozessor, reserved ram, % of non-rezerved ram
# config for mounts: /etc/autozram/drives.conf
# uses specific format
# status directory (RuntimeDirectory): /run/autozram/
#
# warning:
# unsafe config parser
# 
# todo:
# create appropriate and safe config parser for init.conf and drives.conf
# maybe fuse both confs into one

[Unit]
Description=Automatically creates and mounts compressed in memory drives (zram)
After=multi-user.target

[Service]
Type=oneshot
RuntimeDirectory=autozram
ExecStart=/usr/sbin/autozramon.sh
ExecStop=/usr/sbin/autozramoff.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
