# /lib/systemd/system/zramswap.service
#
# Copyright (c) Mihail Gershkovich, <Mihail.Gershkovich@gmail.com>
# config file: /etc/zramservice.conf
# status directory (RuntimeDirectory): /run/zramservice/
# TODO: interactive configurator or yast module

[Unit]
Description=Automatically creates and mounts compressed in memory drives (zram)
After=multi-user.target

[Service]
Type=oneshot
RuntimeDirectory=zramservice
ExecStart=/usr/sbin/zramon
ExecStop=/usr/sbin/zramoff
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
